.chart {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__percents {
        display: block;
        margin-bottom: 9px;

        color: $color-accent-main;
        @include font(20px, 1.2, 700);
    }

    &__graphic {
        --size: 150px;

        width: var(--size);
        height: var(--size);
        margin-bottom: 20px;
    }

    &__graphic-bg {
        stroke: #fff;
    }

    @keyframes progress {
        0% {
            stroke-dasharray: 0 100;
        }
    }
    
    &__graphic-percents {
        stroke: $color-accent-main;
        animation: progress 0.5s ease-out forwards;
    }
}
