// *** Цвет по ролям ***
$color-primary:     #FEEBEF;

// *** foreground ***
$color-txt-main:    #000000;
$color-txt-accent:  #FE4D4A;
$color-txt-invert:  #FFFFFF;

// *** background ***
$color-bg-main:     #FEEBEF;
$color-bg-sub:      #ffffff;

// *** accent ***
$color-accent-main: #FE4D4A;
$color-accent-txt:  #ffffff;
$color-accent-no:   #E2E2E2;
$color-accent-pure: #FFF6F8;

